@font-face 
{
    font-family: 'pixel';
    src: url('police/pixel/LLPIXEL3.ttf')format('truetype');
}

@keyframes drawArc {
    0% { transform: rotate(0deg) translateX(0px) rotate(0deg) ;
         opacity: 0;}
    70%{ transform: rotate(130deg) translate(20px,-40px) rotate(1000deg);
        opacity: 1;}
    100%{ transform: rotate(130deg) translate(20px,-40px) rotate(1000deg);
        opacity: 0;}
}
@keyframes drawArc2 {
    0% { transform: rotate(0deg) translateX(0px) rotate(0deg) ;
         opacity: 0;}
    70%{ transform: rotate(10deg) translate(20px,-40px) rotate(1000deg);
        opacity: 1;}
    100%{  transform: rotate(10deg) translate(20px,-40px) rotate(1000deg);
        opacity: 0;}
}
@keyframes drawArc3 {
    0% { transform: rotate(0deg) translateX(0px) rotate(0deg) ;
         opacity: 0;}
    70%{ transform: rotate(30deg) translate(-40px,40px) rotate(-1000deg);
        opacity: 1;}
    100%{ transform: rotate(30deg) translate(-40px,40px) rotate(-1000deg);
        opacity: 0;}
}
@keyframes AnimScorePop {
    0% {transform: scale(1,1);opacity: 0;}
    80%{transform: scale(4,4);opacity: 1;}
    100% {transform: scale(4,4);opacity:0;}
}
.croc{
    background-image: url(image/miette.png);
    opacity: 0;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
}
.frag1{
    animation: drawArc 0.5s cubic-bezier(.77,0,.18,1);
}
.frag2{
    animation: drawArc2 0.5s cubic-bezier(.77,0,.18,1);
}
.frag3{
    animation: drawArc3 0.5s cubic-bezier(.77,0,.18,1);
}
.addScorePop{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width: 30px;
    height: 30px;
    animation: AnimScorePop 1s ease-in-out;
}
#addScorePop{
    font-family: 'pixel', Arial, sans-serif;
    color: #eeff00;
    position: absolute;
    z-index: 2;
    opacity: 0;
}
