@font-face 
{
    font-family: 'kuroneko';
    src: url('police/kuroneko/Kuroneko\ Kaps\ DEMO.otf')format('truetype');
}

@font-face 
{
    font-family: 'trading';
    src: url('police/trading-post-mf/tradpsmb.ttf')format('truetype');
}


body{
    font-family: 'kuroneko', Arial, sans-serif;
    background-color: #74541aa6;
    color: rgb(250, 248, 235);
}

.container_master{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#frame_game{
    width: 760px;
    height: 760px;
    border: 1px solid black;

   
    /* background-color: #c8932fa6; */
    background: url("image/fond.png") no-repeat;


    -webkit-box-shadow: 1px 1px 15px 1px black;
    -moz-box-shadow: 1px 1px 15px 1px black;
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1, Color='#656565', Positive='true');
    zoom:1;
    box-shadow: 1px 1px 15px 1px black;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:4px;
        
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 40px auto auto auto;
    position: relative;
    /* background-color: yellow; */
    }
    @media only screen{#selecteur{filter: none;}} /*Ie9+*/

#player_1{
    z-index: 2;
    height: 40px;
    width: 40px;

    transform: rotate(0deg);
    background: url("image/tete.png") no-repeat;
    background-position: center;
    background-size: cover;
    
    /* background-color: black; */

    position: absolute;
    top: 360px;
    left: 360px; 
}

#bloc_1{
    height: 40px;
    width: 40px;

    background: url("image/POMME.png") no-repeat;
    background-position: center;
    background-size: cover;


    z-index: 1;
    display: none;  
    position: absolute;  
    top: 360px;
    left: 360px;
}

.block_2{
    display: none;
    height: 40px;
    width: 40px;

    background: url("image/corps.png") no-repeat;
    background-position: center;
    /*background-size: cover;*/

    /*background-color: black;*/
    z-index: 1;  
    position: absolute;  
}

.score{
    float: left;
    position: absolute;
    top: 0px;
    left: 100px;
    font-size: 2.4em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container_accueil{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4em; 
}
.connect{
    width: 700px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.register{
    
    /* position: absolute;
    float: left;
    top: 0px; */
    
    height: 300px;
    width: 400px;

    font-size: 1.4em; 

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;

}

.button{
    font-family: 'kuroneko', Arial, sans-serif;
    font-size: 0.9em; 

    background-color: #cfc7b7;
    border-radius: 10px;
    height: 30px;
    width: 100px;
}

.button:hover{
    background-color: #b0bb8d;
}

.case{
    text-align: center;
    /* font-family: 'kuroneko', Arial, sans-serif; */
    font-size: 0.9em; 
    border: 1px solid #5c5c5c;

    background-color: #cfc7b7;
    border-radius: 10px;
    height: 30px;
    width: 120px;
}

.best_score{
    /*margin-top: 250px;*/
    width: 400px;
    color: rgb(70, 70, 70);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* right: 0px;
    top: 0px;
    height: 300px;
    left: 100px; */
    font-size: 1.4em; 

    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end; */
}

.user{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    align-items: center;
    margin-top:20px;
    width: 75%;
    height: 38px;
    background-color: #cfc7b7;

}

.error{
    color: red;
    position: absolute;
    bottom: -50px;
}

/* @keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.fade_anim{
    animation-name:fade;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
} */